<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="reference.Person" id="person">
	 <property name="pid" value="1" />
	 <property name="name" value="Arnav"/>
	 <property name="phone" value="9518301421"/>
	 <property name="address" ref="addr" />
	</bean>
	
	<bean class="reference.Address" id="addr">
	   <property name="city" value="Islampur"></property>
	   <property name="state" value="Maharashtra"></property>
	</bean>
</beans>